<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UrlSiscomex" value="https://val.portalunico.siscomex.gov.br"/>
    <add key="PerfilSiscomex" value="IMPEXP"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.1" executionTimeout="1200" maxRequestLength="20480"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>