<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sistema.DUE.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CpfCertificado" value="27501846812" />
    <!-- Ambiente Produção: Apenas para Consultas e Validação -->
    <add key="UrlSiscomexConsultas" value="https://val.portalunico.siscomex.gov.br" />
    <!-- Ambiente de Validação: Utilizada apenas para Enviar/Retificar DUE -->
    <add key="UrlSiscomexEnvio" value="https://portalunico.siscomex.gov.br" />
    <add key="PerfilSiscomex" value="IMPEXP" />
  </appSettings>

	<connectionStrings>
		<add name="Banco" connectionString="Data Source=186.202.128.118;Initial Catalog=ADM_DUE;User ID=ADM_DUE;Password=Adm_due@due;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5.1" debug="true" />
    <globalization uiCulture="pt-BR" culture="pt-BR" enableClientBasedCulture="true" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1048576" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <!--<sessionState mode="StateServer" timeout="240"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <applicationSettings>
    <Sistema.DUE.Web.Properties.Settings>
      <setting name="Sistema_DUE_Web_ServicoSiscomex_WsDUE" serializeAs="String">
        <value>https://www.microled.com.br/wssiscomexprod/wsdue.asmx</value>
      </setting>
      <setting name="RazaoEmpresa" serializeAs="String">
        <value>SP Lógica</value>
      </setting>
    </Sistema.DUE.Web.Properties.Settings>
  </applicationSettings>
</configuration>